@tailwind base;
@tailwind components;
@tailwind utilities;


/* Components */

/* Header */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    margin-bottom: 20px;
}


/* Body */

* {
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
}

.body {
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-cards {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 15%;
    margin-right: 15%;
}

.card {
    align-items: center;
    justify-content: center;
    flex-basis: 250px;
    width: 150px;
    height: 200px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 10px;
    font-size: 5rem;
}


/* Footer */

.footer {
    font-size: 0.8rem;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}