@tailwind base;
@tailwind components;
@tailwind utilities;


/* Components */

/* Header */

.header {
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.header-logo {
    margin-left: 45%;
}

/* Body */

* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

.body {
    height: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
}

.card {
    align-items: center;
    justify-content: center;
    flex-basis: 250px;
    width: 150px;
    height: 200px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 5rem;
}


/* Footer */

.footer {
    font-size: 1.0rem;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    background-color: grey;
    padding-left: 30px;
    padding-right: 30px;
}

.rights {
    font-size: 0.75rem;
}

    /* countdown */

._qWTcH  {
    --fcc-digit-block-width: 20px !important;
    --fcc-digit-block-height: 30px !important;
    --fcc-digit-font-size: 20px !important;
    --fcc-label-font-size: 10px !important;
    --fcc-background: rgb(58, 48, 175) !important;
}

.countdown-text {
    padding-bottom: 5px;
    color: white;
}





  /* media size */


  @media screen and (max-width: 700px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .countdown {
        margin-top: 30px;
    }

    .rights {
        margin-top: 40px;
        margin-bottom: 30px;
    }
}